@import 'tailwindcss';

@theme {
  --color-page-background: #23275b0b;
  --color-primary: #147bbe;
  --color-tempest-title: #1a4b96;
  --color-search-title-suffix: #111111;
  --color-search-input-text: #0d0d0c;
  --color-search-field-border: #e8eaef;
  --color-input-mode: #fefefe;

  /* Search  */
  --color-location-badge-fill: #4956ffd1;
  --color-location-badge-text: #ffffff;
  --color-location-badge-border: #92929200;

  /* Landing  */
  --color-user-q: #5f86bb;
  --color-cta: #424242;

  /* Weather Days Component  */
  --color-bg-selected-day: rgb(230, 230, 230);
  --color-bg-not-selected-day: rgba(254, 254, 254, 0.71);
  --color-day-card-date: rgb(96, 101, 116);
  --color-day-card-temp-max: rgb(41, 41, 41);

  /* Selected Day Report  */
  --color-report-heading: #3c3c3c;

  /* Preferences  */
  --color-non-active-pref-bg: #ffffff;
  --color-non-active-pref-text: #666666;
  --color-active-pref-bg: #1a4b96;
  --color-active-pref-text: #d0e8f0;

  /* animation  */
  --animate-pulse-once: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) 1;
  --animate-pref-text-pulse: pref-text-pulse 400ms ease-out 1;
}

@layer base {
  body {
    background: var(--color-page-background);
  }
}

@layer components {
  .location-badge-colours {
    background-color: var(--color-location-badge-fill);
    border-color: var(--color-location-badge-border);
    color: var(--color-location-badge-text);
  }

  .location-badge-bg {
    /* background: linear-gradient(315deg, #18455a, #4667e0); */
    /* background: linear-gradient(315deg, #18455a, #2b3036); */
    /* background: #4fb5e9; */
    background: var(--color-tempest-title);
    color: #e0f9ff;
    opacity: 80%;
  }

  .glass {
    background-color: color-mix(in srgb, rgba(26, 38, 255, 0.267) 100%, transparent);
    backdrop-filter: blur(300px);
    border: 1px solid color-mix(in srgb, rgba(178, 12, 215, 0.267) 70%, transparent);
  }
}

@layer utilties {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }

  .fade-in-up-animation {
    animation: 100ms fadeInUp;
  }

  @keyframes pref-text-pulse {
    0%,
    100% {
      color: var(--color-active-pref-bg);
    }
    50% {
      color: color-mix(in srgb, var(--color-active-pref-bg) 55%, white);
    }
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-250 {
    animation-delay: 250ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-delay-800 {
    animation-delay: 800ms;
  }
}
